
body{
	background: black;
	font-size: 18px;
	font-family:'handlee', cursive;

}

input{
	font-size: 18px;
}
h1{
	font-size: 35px;

}
.poscard {
	background: white;
	width: 600px;
	height: 300px;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 15px;
}
.poscard-header img{
	max-width: 55px;
	float: right;
}
.poscard-header{
	overflow: hidden;
}
.poscard-body{
	overflow: hidden;
}
.poscard h1{
	margin: 0;
}
.left-part{
	float: left;
	width: 50%;
}
.rigt-part{
	float: right;
	width: 50%;
}
.rigt-part input{
	display: block;
}
.poscard-footer input [type=submit]{
border-bottom: 1px solid gray;
border: none;
}
.poscard-body input [type=text]{
border-bottom: 1px solid gray;
border: none;
font-family:'handlee', cursive;
width: 240px;
margin-bottom: 10px;
padding: 5px;
}
.poscard-footer{
	padding: 10px;
	text-align: center;
}